/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 

/* Container for the Feed page */
.feed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f2f5;
  background-image: url('../public/background-register.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; /* Ensure relative positioning for the feed container */
}

/* Home button container positioned at the top center */
.home-button-container {
  position: absolute;  /* Absolute positioning within the feed container */
  top: 20px;           /* Push the button down from the top */
  left: 50%;           /* Center horizontally based on parent */
  transform: translateX(-50%); /* Center the button perfectly */
}

/* Style the Home button */
.home-button {
  padding: 10px 20px;
  background-color: #5a8187;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.home-button:hover {
  background-color: #0056b3;
}

/* Style for the Feed page title */
.feed-title {
  animation: fadeIn 1.2s ease-in-out; /* Add fade-in animation for the background */
  font-size: 36px;
  color: brown;
  margin-top: -750px; /* Add some space below the Home button */
}

/* Container for text and icon */
.feed-subtitle-container {
  display: flex; /* Use flex to align text and image side by side */
  align-items: center;
  margin-top: 15px;
  animation: fadeIn 1.2s ease-in-out; /* Add fade-in animation for the background */
}

.feed-subtitle {
  font-size: 20px;
  color: brown;
  margin-right: 10px; /* Add some space between text and icon */
  animation: fadeIn 1.2s ease-in-out; /* Add fade-in animation for the background */
}

.speaker-icon {
  width: 30px; /* Adjust the size of the icon */
  height: 30px;
  cursor: pointer; /* Change cursor to pointer */
  vertical-align: middle; /* Align icon vertically with text */
  animation: fadeIn 1.2s ease-in-out; /* Add fade-in animation for the background */
}
